body {
  background-color: #c2c2c2;
}

p {
  color: white;
}

h1, h2 {
  color: yellow;
}

#game-screen-wrapper {
  background-color: #0e1e4f;
  width: 700px;
  height:700px;
  margin: 100px auto;
  text-align: center;
}

#game-screen {
  width: 100%;
}

#btn-start {
  width: 125px;
  height: 50px;
}
