@font-face {
  font-family: dogica;
  src: url(dogica.ttf);
}

body {
  background-color: #c2c2c2;
}

p {
  color: white;
}

h1 {
  color: yellow;
  font-family: dogica, Helvetica, Arial;
  font-size: 25px;
}

h2 {
  color: yellow;
  font-family: dogica, Helvetica, Arial;
  font-size: 30px;
}


#game-screen-wrapper {
  background-color: #0e1e4f;
  width: 700px;
  height:700px;
  margin: 100px auto;
  text-align: center;
}

#game-screen {
  width: 700px;
  height: 700px;
  background-image: url("https://ejr25.github.io/spacegame/img/700-star-bg.png");
}


#btn-start {
  width: 125px;
  height: 50px;
}
