body {
  background-color: navy;
}

p {
  color: white;
}

h2 {
  color: yellow;
}
#main-block {
  background-color: #black;
  padding: 10px;
  border-style: dashed;
  border-width: 10px
  border-color: black;
  margin-bottom: 15px;
}
