body {
  background-color: #c2c2c2;
}

p {
  color: white;
}

h1, h2 {
  color: yellow;
}

#game-screen-wrapper {
  background-color: #0e1e4f;
  width: 700px;
  height:700px;
  margin: 100px auto;
  text-align: center;
}

#game-screen {
  width: 700px;
  height: 700px;
  background: url("https://ejr25.github.io/img/700-star-bg") 0 0;
}


#btn-start {
  width: 125px;
  height: 50px;
}
