
/*
COLORS

1 darker yellow = #fff7bd
2 light yellow = #fffded
3 lightest blue = #dae1f5
4 light-mid blue = #b2bddb
5 dark- mid blue = #8d9bc2
6 dark blue = #1d2e63
7 BG blue = #0e1e4f
8 darkest blue = #031038
*/


/* importing fonts */
@font-face {
  font-family: dogica;
  src: url(dogica.ttf);
}

@font-face {
  font-family: dogicabold;
  src: url(dogicabold.ttf);
}


/* body = whole html page (gray bg included) */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #031038;
  font-family: dogica;
}


/* ABOUT SECTION; p, h2 */
p {
  font-size: 12px;
  color: #fffded;
  line-height: 25px;
  margin-top: 0;
}

ul {
  font-size: 12px;
  color: #fffded;
  align-items: left;
  line-height: 25px;
}

h2 {
  color: #fff7bd;
  font-size: 25px;
  font-family: dogicabold;
}

/* INDEX.HTML */
#welcome /* "Welcome To" */ { 
  /* margin-top: 200px; */
  color: #dae1f5;
  font-family: dogica;
  font-size: 20px;
}
#welcome-title /* "Constellation Creator" */ {
  font-size: 25px;
  padding-top: 20px;
  color: #fff7bd;
  font-family: dogicabold;
}


h1 {
  color: yellow;
  font-family: dogica;
  font-size: 25px;
  margin-top: 250px;
}


/* INTRO.HTML; h1#rule, */
#rule {
  color: #fffded;
  font-size: 20px;
  line-height: 30px;
  margin-top: 250px;
}



.game-screen-wrapper {
  width: 700px;
  height:700px;
  background-image: url("https://ejr25.github.io/spacegame/img/700-star-bg.png");
  margin: 10px auto;
  text-align: center;
}

.game-screen-wrapper.nobg {
  background-image: none;
  background-color: #0e1e4f;
}

.game-screen {
  height: 660px;
  padding: 20px;
}

.img-container {
  width: 100%;

}

.img-container a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

.img-container img {
  width: 190px;
  height: 280px;

}

.img-container img:hover {
  opacity: 0.5;
}

#about {
  margin: 50px auto;
}

#btn-start {
  width: 125px;
  height: 30px;
}

#btn-start span {
  display: none;
}

a.button {
  color: #0e1e4f;
  font-size: 20px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  height: 30px;
  background-color: #fff2a0;
  border: 2px solid #031038;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
}

a.button:hover {
  background-color: #efdf79;
}

.draw-container {
  background-color: #8d9bc2;
  width: 500px;
  height: 500px;
}
/* CANVAS  */
#canvas-cassiopeia {
  background-image: url("../img/cassiopeia-canvas.png");
  height: 500px;
}

#canvas-ursamajor {
  background-image: url("../img/ursamajor-canvas.png");
  height: 500px;
}

#canvas-ursaminor {
  background-image: url("../img/ursaminor-canvas.png");
  height: 500px;
}

#canvas-draco {
  background-image: url("../img/draco-canvas.png");
  height: 500px;
}

#canvas-cepheus {
  background-image: url("../img/cepheus-canvas.png");
  height: 500px;
}

#canvas-camelopardalis {
  background-image: url("../img/camelopardalis-canvas.png");
  height: 500px;
}



h3 {
  font-size: 25px;
  color: #fffded;
  font-family: dogicabold;
  margin-top: 5px;
  margin-bottom: 5px;
}

button#clear {
  display: block;
}

#page-contents {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
}


a.small-button {
  color: #0e1e4f;
  font-size: 15px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  height: 15px;
  background-color: #fff2a0;
  border: 2px solid #031038;
  border-radius: 3px;
  text-align: center;
  line-height: 15px;
}

a.small-button:hover {
  background-color: #efdf79;
  cursor: pointer;
}

#draw-instructions {
  font-size: 10px;
}

label {
  font-size: 10px;
  color: #fffded;
}

a.small-button#submit {
  display: inline;
  font-size: 12px;
}

input {
  width: 100px;
}
/* button {
  width: 120px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color:hsl(225, 43%, 46%);
  outline:none;
  border:  1px solid #fff;
  cursor: pointer;
}
button:hover {
  background-color:#4962b0;
} */